
.input
{
    width: 350px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom:1px solid #743455 ;
    outline: none;
    color: #743455;
    font-weight: 500;
}

.input::placeholder
{    
    font-weight: 500;
    color: #743455;
}